.App {
  text-align: center;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}


element.style {
}
.step-box-content {
    cursor: pointer;
    border-radius: 8px;
    border: 2px solid #e1e1e1;
    padding: 55px 20px 35px 20px;
    display: block;
    min-height: 260px;
}

.relative-position {
    position: relative;
}
.text-center {
    text-align: center !important;
}
.bg-white {
    background-color: #fff !important;
}
label {
    display: inline-block;
    margin-bottom: 0.5rem;
}
*, ::after, ::before {
    box-sizing: border-box;
}

label {
    cursor: default;
}

/* @media (min-width: 768px){
.col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}} */
.step-box-content .step-box-icon {
  margin-bottom: 20px;
}

.step-box-content span {
  display: block;
}
img {
  max-width: 100%;
  height: auto;
}
img {
  vertical-align: middle;
  border-style: none;
}
step-box-content .step-box-text {
  font-size: 24px;
  font-weight: 500;
}
